<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>


<script language="javascript">
//window.location.href="/track_file";
</script>

<script>
//window.open("/alert1","alert","width=300,height=300,toolbar=0,menubar=0");
</script>

<script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= '/history';
}, 7000);
</script>



<h3 align="center" style="color:#0066CC">Monitoring..</h3>


</body>
</html>
